<div class="flight_details">
  <h2>Flight Details:</h2>

  Airlines: {{data?.flight?.operatingAirlines}} <br>
  <div class="flight_details_section">
    From: {{data?.flight?.departureCity}} <br>
    To: {{data?.flight?.arrivalCity}} <br>
  </div>
  <div class="flight_details_section">
    Date of Departure: {{data?.flight?.dateOfDeparture}} <br>
    Departure Time: {{data?.flight?.estimatedDepartureTime}} <br>
  </div>

  <h2>Passenger Details:</h2>

  First Name: {{data?.passenger?.firstName}} <br>
  Last Name: {{data?.passenger?.lastName}} <br>
  Email: {{data?.passenger?.email}} <br>
  Phone: {{data?.passenger?.phone}} <br>
  <h3>
    Enter the number of bags you want to check in:<input type='text' [(ngModel)]='numberOfBags' /></h3>
  <button (click)=checkin(numberOfBags)>Check in</button>
</div>
